<html>
<head>

<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>


</head>

<body>
<div class="container">
		<div>
		  <h1>Led On Off</h1>
		  <p>Led durumu</p>
		  <p><input type="checkbox" id="toggle" data-toggle="toggle"></p>
		</div>
</div>





<script>
  $(function() {
    $('#toggle').change(function() {
      $('#console-event').html('Toggle: ' + $(this).prop('checked'))
      if($(this).prop('checked')===true){
	      $.get("./led/1/");
      }else {
	      $.get("./led/0/");
      }
    })
  })
</script>


</body>

</html>
